<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
  <div class="row">
    <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
      </div>
    </div>
  </div>
</div>