// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container{
  height: 500px;
  width: 100%;
}

.image1 {
  background-image: url(main_kamakura.jpg);
}
.image2 {
  background-image: url(yakult.jpg);
}